@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Poppins", sans-serif;
}
/***********************Navbar***********************/

.logo {
  width: 4rem;
}

/*------ Menu Links----- */
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin: 0 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-brand {
  max-width: 5rem !important;
  height: 100% !important;
  padding: 0;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
